.footer {
    background-color: #3a3c42;
    color: white;
    .container {
        max-width: 1280px;
        margin: 0 auto;
        padding: 60px 20px;
        .content-row {
            display: flex;
            justify-content: space-between;
            padding: 0px 30px;
            .c-column {
                label {
                    font-weight: bold;
                    font-size: 16px;
                }
                ul {
                    margin-top: 20px;
                    list-style-type: none;
                    font-size: 14px;
                    font-weight: bold;
                    li {
                        margin-bottom: 3px;
                    }
                }
                .news-letter {
                    p {
                        margin-bottom: 10px;
                    }
                    input {
                        font-size: 16px;
                        padding: 14px 10px;
                        width: 320px;
                    }
                }
            }
        }
    }
}