<div class="footer">
  <div class="container">
    <div class="content-row">
      <div class="c-column">
        <label>QUICK LINKS</label>
        <ul>
          <li>Insurance</li>
          <li>About Us</li>
          <li>Claim Center</li>
          <li>Make A Payment</li>
          <li>Member Benifits</li>
          <li>Contact Us</li>
        </ul>
      </div>
      <div class="c-column">
        <label>LEGAL</label>
        <ul>
          <li>Terms & Conditions</li>
          <li>Privacy Policy</li>
          <li>Claim Center</li>
          <li>Legal Notices</li>
        </ul>
      </div>
      <div class="c-column">
        <label>SIGN UP</label>
        <div class="news-letter">
          <p>For our Newsletter</p>
          <input type="text">
        </div>
      </div>
    </div>
  </div>

</div>