html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: top;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    font-family: Open Sans;
}

a {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

* {
    transition: all 0.2s ease 0s;
}

// @font-face {
//     font-family: 'AvenirNext-Bold';
//     src: url('fonts/AvenirNext-Bold_gdi.eot');
//     src: url('fonts/AvenirNext-Bold_gdi.eot?#iefix') format('embedded-opentype'), url('fonts/AvenirNext-Bold_gdi.woff') format('woff'), url('fonts/AvenirNext-Bold_gdi.ttf') format('truetype'), url('fonts/AvenirNext-Bold_gdi.otf') format('opentype'), url('fonts/AvenirNext-Bold_gdi.svg#AvenirNext-Bold') format('svg');
//     font-weight: 700;
//     font-style: normal;
//     font-stretch: normal;
//     unicode-range: U+000D-25CA;
// }